<%- include('../../../includes/header.ejs') %>
<link rel="stylesheet" href="/css/admin/sidebar.css">
<link rel="stylesheet" href="/css/admin/bodyadmin.css">
</header>

<body>

  <%- include('../../../includes/navigation.ejs') %>

<div class="container">
  <a href="/admin" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <p class="sidebar-title">DARK ADMIN</p>
  </a>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 container-sidebar-admin-home">
      <%- include('../../SideBarAdmin/index.ejs') %>
    </div>
    <div class="col py-3">
        <div class="container-dashboard">
          <div class="container-dashboard-list-header">
            <div class="container-dashboard-item">
              <div class="container-dashboard-item-header">
                <span>U S E R</span>
                <div class="container-dashboard-item-percent">
                  <i class="fa-solid fa-angle-up"></i>
                  <span>20%</span>
                </div>
              </div>

              <div class="container-dashboard-item-body">
                <span><%= quantityUser %></span>
              </div>

              <div class="container-dashboard-item-footer">
                <a href="/admin/get-all-user" class="container-dashboard-item-link text-decoration-none">
                  <span class="container-dashboard-item-link-item">See all users</span>
                </a>

                <a href="/admin/get-all-user" class="container-dashboard-item-link">
                  <i class="fa-solid fa-user icon-dashboard-user"></i>
                </a>

              </div>
            </div>

            <div class="container-dashboard-item">
              <div class="container-dashboard-item-header">
                <span>F I L M</span>
                <div class="container-dashboard-item-percent">
                  <i class="fa-solid fa-angle-up"></i>
                  <span>20%</span>
                </div>
              </div>

              <div class="container-dashboard-item-body">
                <span><%= quantityMovie %></span>
              </div>

              <div class="container-dashboard-item-footer">
                <a href="/admin/get-all-movie" class="container-dashboard-item-link text-decoration-none">
                  <span class="container-dashboard-item-link-item">See all users</span>
                </a>

                <a href="/admin/get-all-movie" class="container-dashboard-item-link">
                  <i class="fa-solid fa-film icon-dashboard-film"></i>
                </a>

              </div>
            </div>

            <div class="container-dashboard-item">
              <div class="container-dashboard-item-header">
                <span>CAR LIKE</span>
                <div class="container-dashboard-item-percent">
                  <i class="fa-solid fa-angle-up"></i>
                  <span>20%</span>
                </div>
              </div>

              <div class="container-dashboard-item-body">
                <span><%= quantityCart %></span>
              </div>

              <div class="container-dashboard-item-footer">
                  <span></span>
                  <i class="fa-brands fa-gratipay icon-dashboard-cart"></i>
              </div>
            </div>


          </div>

          <div class="container-dashboard-list-header-body">

          </div>
        </div>
      







    </div>
</div>
</div>



<%- include('../../../includes/footer.ejs') %>

