<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/movie-detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="container">
                <div class="container-detail-header">
                    <span>DARK PHIM / <%= movie.national %> / <%= movie.name %> </span>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="container container-detail-body">
                            <div class="row">

                                <div class="col-md-6 container-detail-body-img">
                                    <div class="container-detail-body-img-content">
                                        <img class="container-detail-body-img-detail" src="/<%= movie.imageUrl %>"
                                            alt="fsadf">
                                        <a class="btn-detail-body-watch" href="/watching/<%= movie.name %>">XEM PHIM</a>

                                    </div>
                                </div>

                                <div class="col-md-6 container-detail-body-detail">
                                    <div class="container-detail-body-title">
                                        <span class="detail-body-title-name">
                                            <%= movie.name %>
                                        </span>
                                        <span class="detail-body-title-year">Word of Honor (2022)</span>
                                    </div>


                                    <div class="container-detail-body-content">
                                        <p>Trang Thai: </p>
                                        <p>Sap Chieu: </p>
                                        <p>Đạo diễn: <%= movie.director %>
                                        </p>
                                        <p>Thoi luong: </p>
                                        <p>Quoc Gia: <%= movie.national %>
                                        </p>
                                        <p>Nha san xua: <%= movie.producer %>
                                        </p>
                                        <p>Dien Vien: <%= movie.character %>
                                        </p>
                                        <p>The Loai: <%= movie.typeFilm %>
                                        </p>
                                    </div>
                                    <div class="container-detail-body-footer">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-detail-body-description">
                            <span>NỘI DUNG PHIM</span>
                            <p>
                                <%= movie.description %>
                            </p>
                        </div>
                        <div class="contain-detail-body-chaton">
                            <%- include('./chat-box.ejs') %>
                        </div>

                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <h1>PHIM ĐỀ CỬ</h1>
                                <div class="carousel-item active">
                                    <div class="container-home-list">
                                        <div class="container">
                                            <div class="row">
                                                <% for (let i=0; i < 6; i++) { %>
                                                    <div class="col-md-2">
                                                        <div class="container-movie-item">
                                                            <a href="/film/<%= listPhimChieuRap[i].name %>"
                                                                class="container-movie-item-link">

                                                                <img class="container-movie-img"
                                                                    src="/<%= listPhimChieuRap[i].imageUrl %>"
                                                                    alt="fasdf">
                                                            </a>

                                                            <a href="/film/<%= listPhimChieuRap[i].name %>"
                                                                class="container-movie-item-link">

                                                                <div class="container-movie-name">
                                                                    <%= listPhimChieuRap[i].name %>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="container-home-list">
                                        <div class="container">
                                            <div class="row">
                                                <% for (let i=6; i < 12; i++) { %>
                                                    <div class="col-md-2">
                                                        <div class="container-movie-item">
                                                            <a href="/film/<%= listPhimChieuRap[i].name %>"
                                                                class="container-movie-item-link">

                                                                <img class="container-movie-img"
                                                                    src="/<%= listPhimChieuRap[i].imageUrl %>"
                                                                    alt="fasdf">
                                                            </a>

                                                            <a href="/film/<%= listPhimChieuRap[i].name %>"
                                                                class="container-movie-item-link">

                                                                <div class="container-movie-name">
                                                                    <%= listPhimChieuRap[i].name %>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="container-detail-sidebar">
                            <div class="sidebar-movie-new">
                                <span>PHIM SẮP CHIẾU</span>
                                <div class="sidebar-movie-new-list">
                                    <% for (let movies of listPhimSapChieu) { %>
                                        <div class="sidebar-movie-new-item">
                                            <img class="sidebar-item-img" src="/<%= movies.imageUrl %>" alt="fasdfasd">
                                            <div class="sidebar-item-content">
                                                <span class="sidebar-item-episode">
                                                    1/1 Tập
                                                </span>
                                                <span class="sidebar-item-producer">
                                                    <%= movies.producer %>
                                                </span>
                                                <p class="sidebar-item-name">
                                                    <%= movies.name %>
                                                </p>
                                            </div>
                                        </div>

                                        <% } %>
                                </div>

                                <div class="sidebar-movie-chaton">
                                    <h1>CHAT ON</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../includes/footer.ejs') %>