<%- include('../../includes/header.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
    <%- include('../../includes/navigation.ejs') %>

<div class="container">
    <div class="row">
        <% for (let movie of movies) { %>
        <div class="col-md-2">
                <div class="cart-item">
                    <a href="/film/<%= movie.movieId.name %>">
                        <img class="cart-item-img" src="/<%= movie.movieId.imageUrl %>" alt="fadsf">
                    </a>
                    <a  href="/film/<%= movie.movieId.name %>">
                        <div class="cart-item-name">
                            <span><%= movie.movieId.name %></span>
                        </div>
                    </a>
                    
                    <button class="btn btn-danger" danger data-toggle="modal" data-target="#delete-movieId" data-id="<%= movie.movieId._id %>" data-csrf="<%= csrfToken %>">Delete</button>

                </div>

        </div>
        <% } %>
    </div>
</div>

                    <!-- UI verify Delete -->
                    <div id="delete-movieId" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">WARRING !!!</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete?</p>
                            </div>
                            <div class="modal-footer">
                              <button id="deletemovieId" type="button" class="btn btn-danger">Delete</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

            <!-- Form hidden delete -->
            <form name="delete-form-movieId" method="POST">
                <input id="hidden-movieId" type="hidden"  name="movieId">
                <input id="hidden-csrf" type="hidden" name="_csrf" >
            </form>

            <script>
               // Exec form Delete 
               const btndeletemovieId = document.getElementById('deletemovieId')
                const deleteForm = document.forms['delete-form-movieId']
                let movieId;
                let csrf;
                document.addEventListener('DOMContentLoaded' , () =>{
                    $('#delete-movieId').on('show.bs.modal', function (event) {
                        const button = $(event.relatedTarget) 
                        movieId = button.data('id')  
                        csrf = button.data('csrf')  
                        console.log(movieId)     
                    })
                })

                btndeletemovieId.onclick = () =>{
                    deleteForm.action = '/auth/cart-delete';

                    const hidden_Prod = document.getElementById('hidden-movieId');
                    const hidden_csrf = document.getElementById('hidden-csrf');

                    hidden_Prod.value = movieId;
                    hidden_csrf.value = csrf;
                    deleteForm.submit();
                }
            </script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<%- include('../../includes/footer.ejs') %>

