<div class="container container-body-video-detail padding-top-100">
    <div class="row">
            <div class="container-detail-header">
                <span>DARK PHIM /   <%= movie.national %> /   <%= movie.name %> / Tập <%= movieEpisodeDetail[0].episode %></span>
            </div>
    </div>
    <div class="row padding-right-0">
        <%- include('./ItemBodyVieoMovie/bodyvideo.ejs',{listEpisode: listEpisode,movie: movie}) %>

    </div>
    <div class="row padding-right-0">

        <%- include('../../ChatOnline/chatonline.ejs') %>

    </div>

    <%- include('../../MovieDetail/BodyMovieDetail/NominateMovie/index.ejs') %>


</div>