

  <div class="container-movie-item">
    <a href="/film/<%= name %>" class="container-movie-item-link">

      <img class="container-movie-img" src="/<%= imageUrl %>" alt="fasdfsdf">
      <i class="fa-solid fa-circle-play"></i>
    </a>

    <a href="/film/<%= name %>" class="container-movie-item-link">

      <div class="container-movie-name">
        <%= name %>
      </div>
    </a>
    <button class="btn btn-danger" danger data-toggle="modal" data-target="#delete-movieId" data-id="<%= movie.movieId._id %>" data-csrf="<%= csrfToken %>">Delete</button>
  </div>




